#movies-container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  grid-column: 2/4;
  margin: 1rem 0;
}

#intro-text {
  margin-bottom: 3rem;
  color: var(--gray-100);
}

#has-result-or-not {
  grid-column: 2/4;
  margin-inline: 5%;
}

#has-result-or-not h3 {
  color: var(--gray-200);
}

.movie {
  display: inline-block;
  margin-top: 1em;
}

.movie > img {
  cursor: pointer;
}

.tooltip {
  pointer-events: auto !important;
  z-index: 3;
}

.tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

@media (max-width: 1100px) {
  #movies-container-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}

@media (max-width: 900px) {
  #movies-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  #movies-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #intro-text {
    text-align: left;
    margin-inline: 5%;
  }
}

@media (max-width: 420px) {
  #search-input input {
    width: 80% !important;
  }
  .movie img {
    width: 140px;
  }
}