#movies-container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  grid-column: 2/4;
}

#has-result-or-not {
  grid-column: 2/4;
}

.movie {
  display: inline-block;
  margin-top: 1vh;
  cursor: pointer;
}

.tooltip {
  pointer-events: auto !important;
}

.tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.rc-pagination {
  margin-top: 3em;
  padding: 0;
}

.rc-pagination li {
  display: inline-block;
  padding: .2em .8em;
  margin: .5em;
  border: 1px solid #efe1b1;
  border-radius: 5px;
  color: #efe1b1;
  cursor: pointer;
  outline: none;
}

.rc-pagination-item-active {
  color: #0b1434 !important;
  background: #efe1b1;
}

.rc-pagination li:hover{
  color: #0b1434;
  background: #efe1b1;
}





@media (max-width: 1100px) {
  #movies-container-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}

@media (max-width: 900px) {
  #movies-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  #movies-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .rc-pagination-item.rc-pagination-item-after-jump-prev,
  .rc-pagination-item.rc-pagination-item-before-jump-next {
    display: none;
  }
}

@media (max-width: 570px) {
  .rc-pagination li {
    font-size: 1.8vh;
  }
}

@media (max-width: 420px) {
  #movies-container-grid {
    grid-template-columns: 1fr;
  }
  #search-input input {
    width: 80% !important;
  }
}

@media (max-width: 370px) {
  .rc-pagination li {
    font-size: 1.6vh;
  }
}

@media (max-width: 320px) {
  .rc-pagination li {
    font-size: 1.4vh;
  }
}