.Spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Spinner,
.Spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 60px auto;  
}
.Spinner {
  margin: 60px auto;
  font-size: 1em;
  position: relative;
  text-indent: -9999em;
  border-top: .3em solid #efe1b1;
  border-right: .3em solid #0b1434;
  border-bottom: .3em solid #efe1b1;
  border-left: .3em solid #0b1434;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinning 1.5s infinite linear;
  animation: spinning 1.5s infinite linear;
}
@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}