.Spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.Spinner,
.Spinner:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin: 1em auto;  
}

.Spinner {
  font-size: 1em;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid var(--primary);
  border-right: .2em solid var(--primary);
  border-bottom: .2em solid var(--primary);
  border-left: .2em solid var(--bg-primary);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinning 1.5s infinite linear;
  animation: spinning 1.5s infinite linear;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}