#toTop {
  padding: 10px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  right: 20px; 
  bottom: 20px; 
  cursor: pointer; 
  z-index: 10;
}

.overlayBtn {
  position: fixed;
  z-index: 99;
  color: var(--gray-300);
}

.overlayBtn:hover {
  color: var(--primary);
  cursor: pointer;
}
