.rc-pagination {
  margin-top: 1em;
  padding: 0;
}

.rc-pagination li {
  display: inline-block;
  padding: .2em .8em;
  margin: .5em;
  border: 1px solid var(--primary);
  border-radius: 4px;
  color: var(--primary);
  cursor: pointer;
  outline: none;
}

li.rc-pagination-item > a {
  color: inherit;
}

.rc-pagination li:hover{
  color: var(--bg-primary);
  background: var(--primary);
}

.rc-pagination-item-active {
  color: var(--bg-primary) !important;
  background: var(--primary);
}

@media (max-width: 500px) {
  .rc-pagination li {
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  li.rc-pagination-prev,
  li.rc-pagination-next {
    display: none;
  }
  .rc-pagination li {
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  .rc-pagination li {
    font-size: 0.6em;
  }
}