.rc-pagination {
  margin-top: 1em;
  padding: 0;
}

.rc-pagination li {
  display: inline-block;
  padding: .2em .8em;
  margin: .5em;
  border: 1px solid #efe1b1;
  border-radius: 4px;
  color: #efe1b1;
  cursor: pointer;
  outline: none;
}

.rc-pagination li:hover{
  color: #0b1434;
  background: #efe1b1;
}

.rc-pagination-item-active {
  color: #0b1434 !important;
  background: #efe1b1;
}

@media (max-width: 500px) {
  .rc-pagination li {
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  li.rc-pagination-prev,
  li.rc-pagination-next {
    display: none;
  }
  .rc-pagination li {
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  .rc-pagination li {
    font-size: 0.6em;
  }
}