#searchContainer {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  position: relative;
}

#searchContainer:focus-within #searchBox::placeholder {
  color: var(--gray-100);
}

#searchBox {
  width: 100%;
  padding: .8rem 2rem .7rem 1rem;
  font-size: 1.1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #fff;
  color: var(--gray-400);
}

.search-wrapper [type='button'] {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 .5rem;
  color: var(--gray-500);
}

@media (max-width: 700px) {
  #searchContainer {
    width: 90%;
  }
}
