.search {
  /* margin-bottom: 5vh; */
}

#searchContainer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

/* #searchIcon {
  padding: .8em 0 .7em .5em;
  background: #fff;
  color: rgba(11, 20, 52, 0.2);
  min-width: 3em;
  text-align: center;
  border-radius: 3px 0 0 3px;
  border: none;
  line-height: inherit;
}

#searchContainer:focus-within #searchIcon {
  color: rgba(11, 20, 52, 1);
} */

#searchContainer:focus-within #searchBox::placeholder {
  color: #ccc;
}

#searchBox {
  width: 50%;
  padding: .8em 1em .7em 1em;
  font-size: 1.2em;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #fff;
  color: #222;
}

@media (max-width: 700px) {
  #searchBox {
    width: 70%;
    margin: 0 1em;
  }
}

@media (max-width: 500px) {
  #searchBox {
    width: 100%;
  }
}