#search-input {
  grid-column: 2/4;
}

#search-input input {
  margin: 5vh 0;
  width: 50%;
  /* text-align: center; */
  padding: .5em 1em;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  /* box-shadow: none; */
  outline: none;
}