.header a {
  grid-column: 2/4;
  font-family: 'Michroma', sans-serif;
  text-decoration: none;
  color: #efe1b1;
  font-size: 1.8em;
  /* margin-bottom: 3vh; */
  margin-bottom: 0.5em;
  /* line-height: 3vh; */
  line-height: 1em;
}

.header a:hover {
  color: #e5ce80;
}

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 36em) minmax(auto, 36em) 1fr;
}