.header a {
  grid-column: 2/4;
  font-family: 'Michroma', sans-serif;
  text-decoration: none;
  color: #efe1b1;
  font-size: 1.8em;
  margin-bottom: 3vh;
  /* line-height: 6vh; */
  line-height: 3vh;
}

.header a:hover {
  color: #e5ce80;
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
}