.header {
  display: flex;
}

.header a {
  grid-column: 2/4;
  font-family: "Michroma", sans-serif;
  text-decoration: none;
  color: var(--primary);
  font-size: 1.8em;
  margin: 2rem auto;
  line-height: 1em;
}

.header a p {
  font-size: 1.8rem;
}

.header a:hover {
  color: var(--primary-dark);
}

.header p {
  margin: 0;
}

@media (max-width: 500px) {
  .header {
    margin-inline: 5%;
  }
  .header > a {
    margin: 2rem auto 2rem 0;
    font-size: 1.3rem;
  }
  .header a p {
    font-size: 1.3rem;
  }
}
