#footer {
  grid-column: 2/4;
  margin: 10em 2em 5em 2em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15em;
  color: var(--gray-100);
}

#footer a {
  text-decoration: none;
}

#myName {
  color: var(--primary);
}

#myName:hover {
  color: #fff;
}

#footer i {
  color: var(--primary);
}

#footer i:hover {
  color: #fff;
}

#tmdb {
  font-size: 0.8em;
}


@media (max-width: 830px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  #tmdb {
    padding-bottom: 2.5em;
  }

  #myself {
    padding-top: 2.5em;
    border-top: 1px solid var(--gray-400);
  }
}