#footer {
  grid-column: 2/4;
  /* margin: 0 2vh; */
  margin-top: 10em;
  margin-bottom: 5em;
  margin: 10em 2em 5em 2em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15em;
  color: gray;
}

#footer a {
  /* color: #fff; */
  text-decoration: none;
}

#myName {
  /* color: #01d277; */
  color: #efe1b1;
}

#myName:hover {
  color: #fff;
}

#footer i {
  /* color: #01d277; */
  color: #efe1b1;
}

#footer i:hover {
  color: #fff;
}

#tmdb {
  /* font-size: 1.7vh; */
  font-size: 0.8em;
}


@media (max-width: 830px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  #tmdb {
    padding-bottom: 2.5em;
  }

  #myself {
    padding-top: 2.5em;
    border-top: 1px solid #333;
  }
}