.carousel .slide img {
  max-width: 100%;
  height: auto;
}

#movieInfo {
  grid-column: 2/4;
  margin: 0 2em;
}

#movieIntro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#left {
  text-align: left;
}

#movieTitle {
  font-size: 2em;
  line-height: 1em;
  margin-top: 0;
  text-align: left;
}

#yearRuntimeRatingHomepage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: gray;
  margin-top: 1em;
}

#yearRuntimeRatingHomepage i {
  margin-right: 1em;
}

#denominator {
  font-size: 0.7em;
}

#homepageIcon {
  color: gray;
}

#homepageIcon:hover {
  color: #efe1b1;
}

#movieDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#left {
  padding: 1em 0;
}

#right {
  text-align: left;
}

#budgetRevenueContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/4;
  color: gray;
}

#budgetRevenueContainer p {
  margin-top: 0;
}

#castContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2em 0;
}

.castProfilePic > img {
  width: 100px;
}

#videoContainer {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

#reviewText {
  text-align: left;
}

.accordion__title {
  color: #0b1434;
  background: #efe1b1;
  outline: none;
  padding: .2em 1em;
  width: auto;
}

.accordion__title p {
  margin-top: 0;
}

.accordion__title:hover {
  background: #ebdba1;
}

.accordion__body {
  text-align: left;
  border: none;
  padding: 0 12em;
  white-space: pre-wrap;
  margin-bottom: 3em;
}














@media (max-width: 1150px) {
  #videoContainer iframe {
    margin: 1em auto;
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 1030px) {
  #videoContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 950px) {
  .accordion__body {
    padding: 0 10em;
  }  
}

@media (max-width: 900px) {
  #movieIntro {
    display: grid;
    grid-template-columns: 1fr;
  }

  #movieTitle {
    text-align: center;
  }

  #movieDetails {
    display: grid;
    grid-template-columns: 1fr;
  }

  #left {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .accordion__body {
    padding: 0 8em;
  }  
}

@media (max-width: 620px) {
  .accordion__body {
    padding: 0 6em;
  }  
}

@media (max-width: 560px) {

  #videoContainer iframe {
    margin: 0.5em auto;
    width: 272px;
    height: 153px;
  }
  
  .castProfilePic > img {
    width: 70px;
  }

  #budgetRevenueContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .accordion__body {
    padding: 0;
  }
}

@media (max-width: 500px) {
  #yearRuntimeRatingHomepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {

  body {
    font-size: 1.1em;
  }

  #movieInfo {
    margin: 0 2em;
  }

  .castProfilePic > img {
    width: 50px;
  }

  #left img {
    width: 70%;
    margin: auto;
  }

}