.carousel .slide img {
  max-width: 100%;
  height: auto;
}

.backdropSwiper {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.backdropSwiper .swiper-wrapper {
  width: 100%;
}

.backdropSwiper .swiper-button-prev {
  left: 0;
}

.backdropSwiper .swiper-button-next {
  right: 0;
}

.backdropSwiper .swiper-button-prev,
.backdropSwiper .swiper-button-next {
  --swiper-navigation-size: 25px;
  color: var(--primary);
  height: 100%;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}

.backdropSwiper .swiper-button-prev:hover,
.backdropSwiper .swiper-button-next:hover {
  color: #fff;
}

.backdropSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure full width */
  height: auto;
  overflow: hidden;
}

.backdropSwiper img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Optional: makes image fill container nicely */
  display: block;
}

.backdropSwiper .swiper-pagination {
  font-size: 0.7rem;
}

#movieInfo,
#reviewInfo {
  grid-column: 2/4;
  margin: 0 2rem;
}

#movieIntro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#left {
  text-align: left;
  padding: 1em 0;
}

#right {
  text-align: left;
  margin-left: 1rem;
}

#left img {
  margin-inline: auto;
}

#movieTitle {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0;
  text-align: left;
}

#yearRuntimeRatingHomepage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--gray-200);
  margin-top: 1em;
}

#yearRuntimeRatingHomepage i {
  margin-right: 1em;
}

#denominator {
  font-size: 0.7em;
}

.homepage-link:hover #homepageIcon {
  color: var(--primary);
}

i#homepageIcon {
  color: var(--gray-200);
  margin: unset;
}

#movieDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#budgetRevenueContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/4;
  color: var(--gray-200);
  margin-bottom: 1rem;
}

#budgetRevenueContainer p {
  margin: 0;
}

#castContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2em 0;
}

.castProfilePic > img {
  width: 100px;
}

#videoContainer {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

#reviewInfo {
  text-align: left;
  margin-top: 4rem;
}

#reviewTitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.reviewItem {
  padding: 1rem 1rem 0 1rem;
  border: 2px solid var(--gray-300);
  border-radius: 1rem;
}

.reviewItem:hover,
.reviewItem:active {
  border: 2px solid var(--gray-200);
}

.reviewItem:not(last-of-type) {
  margin-bottom: 2rem;
}

.reviewItemInfo {
  white-space: pre-wrap;
  color: var(--gray-200);
}

.reviewContent {
  white-space: pre-wrap;
}

/* Responsive Styles */
@media (max-width: 1150px) {
  #videoContainer iframe {
    margin: 1em auto;
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 1030px) {
  #videoContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 950px) {
  .accordion__body {
    padding: 0 10em;
  }
}

@media (max-width: 900px) {
  #movieIntro {
    display: grid;
    grid-template-columns: 1fr;
  }

  #movieTitle {
    text-align: center;
    font-size: 1.5rem;
  }

  #movieDetails {
    display: grid;
    grid-template-columns: 1fr;
  }

  #left {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }

  #right {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .accordion__body {
    padding: 0 8em;
  }
}

@media (max-width: 620px) {
  .accordion__body {
    padding: 0 6em;
  }
}

@media (max-width: 560px) {
  #videoContainer iframe {
    margin: 0.5em auto;
    width: 272px;
    height: 153px;
  }

  .castProfilePic > img {
    width: 70px;
  }

  #budgetRevenueContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .accordion__body {
    padding: 0;
  }
}

@media (max-width: 500px) {
  #yearRuntimeRatingHomepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  body {
    font-size: 1.1em;
  }

  #movieInfo,
  #reviewInfo {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .castProfilePic > img {
    width: 50px;
  }

  #left img {
    width: 85%;
    margin: auto;
  }
}
