
#movieDetails {
  grid-column: 2/4;
}

#movieIntro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#left {
  text-align: left;
}

#movieTitle {
  font-size: 4vh;
  line-height: 6vh;
  margin-top: 0;  
  margin-bottom: 1vh;
}

#yearRuntimeRating {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: gray;
}

#yearRuntimeRating i {
  margin-right: 1vh;
}

#denominator {
  font-size: 1.5vh;
}

#castContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5vh 0;
}

.castProfilePic > img {
  width: 100px;
}

#videoContainer {
  margin-bottom: 8vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

@media (max-width: 1150px) {
  #videoContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    grid-column: 2/4;
  }
}

.carousel {
  margin-bottom: 7vh;
}

.carousel:hover  {
  cursor: grab;
}

.carousel:active  {
  cursor: grabbing;
}

#reviewText {
  font-size: 2vh;
  text-align: left;
  margin-bottom: 2vh;
}

.collapsible {
  border: none;
}

.collapsible-header {
  color: darkblue;
  text-align: left;
  border: none;
}

.collapsible-body {
  text-align: left;
  border: none;
  padding: 0 30vh;
  white-space: pre-wrap;
}

.collapsible-header:hover {
  background: #eee;
}
