body {
  margin: 0;
  padding: 0;

  text-align: center;
  background-color: #080e24;
  color: #eee;
  font-size: 1.1em;
  
  font-family: 'Work Sans', sans-serif;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
