* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  text-align: center;
  background-color: #0b1434;
  /* background-color: #1d293d; */
  color: #efe1b1;
  /* color: #fabc96; */
  font-size: 2vh;
  line-height: 4vh;
  font-family: 'Open Sans', sans-serif;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: #f6eed2;
}

.wow {
  visibility: hidden; 
}


/* Scroll Bar */
@media (min-width: 500px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #eeeeee;  */
    background: #0b1434;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient(135deg, rgba(176, 176, 255, 0.8) 0%, rgba(176, 216, 255, 0.8) 100%);  */
    background: rgba(239,225,177, 0.5);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(135deg, rgba(176, 176, 255, 1) 0%, rgba(176, 216, 255, 1) 100%);  */
    background: rgba(239,225,177, 1);
  }
}